@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap');

:root {
    --prime: #ffc978;
    --sec: #C4C4C4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: "Karla";
}

p {
    font-size: 0.8rem;
}

.navbar {
    margin: 0px;
}

#nav-head {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    font-family: "Kalam";
    z-index: 1;
}

.navbar img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.nav-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-title-top,
.nav-title-bottom {
    font-size: 1rem;
    line-height: 70%;
    font-weight: 1000;
}

.nav-title-top {
    color: var(--prime);
}

.nav-title-bottom {
    color: var(--sec);
}

.navbar-nav {
    text-align: center;
}

.hero {
    background-image: url("./img/pexels-olga-lioncat-7245482.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
}

.transparent {
    background-color: rgba(0, 0, 0, 0.411);
    height: 100%;
}

.block {
    font-size: 4rem;
    height: 300px;
    width: 70%;
    color: rgb(255, 255, 255);
    margin: auto;
    padding: 100px;
    text-align: center;
}

.block-content {
    border: 5px solid rgba(252, 255, 89, 0.753);
    padding: 10px;
    margin: auto;
}

.services {
    width: 100%;
    height: 600px;
    padding: 0 200px 0 200px;

    text-align: center;
}

.services h1 {
    font-size: 1.7rem;
    font-weight: bold;
    color: rgb(75, 75, 75);
    margin: 0 0 10px 0;
    padding: 10px;
}

.services h2 {
    font-size: 1rem;
}

hr {
    width: 50%;
    margin-left: 25% !important;
    margin-right: 25% !important;
}

.serv-head {
    margin: 10px;
}

.serv-head-2 {
    display: flex;
}

.contact {
    background-color: #ffef5c;
    padding: 0 500px 0 500px;
    width: 100%;
    height: 500px;
}

.contact h1 {
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    margin: 0 0 10px 0;
    padding: 5px;
}

#mel-head {
    color: #ffef5c;
    background-color: black;
    text-shadow: 0 0 5px #000000;
    border-radius: 10px;
    font-weight: 100;
}

.melinda {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(31, 31, 31);
    padding: 15px;
    text-align: center;
}

.melinda h1 {
    font-size: 3rem;
    border-right: 2px solid rgba(39, 39, 39, 0.719);
    padding: 20px;
    text-decoration: underline rgba(0, 0, 0, 0.829);
}

.melinda p {
    display: flex;
    margin-left: 10px;
    font-size: 1rem;
}

.contact-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

footer {
    background-color: black;
    padding: 10px;
    color: rgb(80, 80, 80);
    text-align: center;
    width: 100%;
    height: 100px;
}

footer h3 {
    font-size: 1rem;
}

footer li {
    list-style: none;
}

@media (max-width: 812px) {
    .block {
        padding: 0px;
    }

    .block-content {
        padding: 5px;
    }

    .services {
        height: 700px;
        padding: 10px;
    }

    .contact {
        height: 700px;
    }

    .melinda {
        flex-direction: column;
    }

    .melinda h1 {
        border-right: none;
        border-bottom: 1px solid rgba(79, 79, 79, 0.734);
    }

    .contact-info {
        flex-direction: column;
    }
}

@media (max-width: 1000px) {
    .services {
        padding: 10px;
        height: 500px;
    }

    .contact {
        padding: 10px;
    }
}
